.DadbContent {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}
.DadbSteps {
    position: relative;
    height: 60px;
    margin-bottom: 5px;
}
.DadbStep {
    float: left;
    background-color: #e9f4f8;
    height: 60px;
    border: 1px solid #43838c;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.DadbStepContent {
    height: 100%;
    height: 0;
}
.DadbTick {
    border: 1px solid transparent;
    position: absolute;
    margin-left: -.6em;
    margin-top: -20px;
    text-align: center;
    color: #43838c;
}
/*blocks*/

div.DadbSource {
    width: 100%;
    margin-top: 30px;
    height: 60px;
}
div.DadbTemplate {
    margin-right: 10px;
    float: left;
}
div.DadbDraggableBlock {
    background: #EEFAA8; //IE8
    background: rgba(238, 250, 168, 0.81);
    height: 60px;
    font-size: 14px;
    border: 1px solid #43838c;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 999;
}
.DadbEmpty {
    border: 0px;
}
.DadbEmpty .DadbStepContent {
    background: #E7FCE1;
    border: 1px dashed #999;
    height: 96%;
}
.DadbPlannedBlockBody .DadbStepContent {
    background: #cce877;
}
div.DadbPlannedBlockBody {
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    border-left: 0px;
    border-right: 0px;
}
div.DadbPlannedBlockStart {
    border-left: 2px solid green;
}
div.DadbPlannedBlockEnd {
    border-right: 2px solid green;
}
.DadbHighlightOK {
    border: 2px solid green;
    background: #fff;
}
.DadbHighlightNOK {
    border: 2px solid red;
    background: #fff;
}
div.DadbDraggableBlock .DadbHandle {
    cursor: move;
}
.DadbStepContent .DadbHandle {
    cursor: pointer;
}
.DadbHandle {
    display: table-caption;
    margin: .2em;
    color: #43838c;
    font-style: normal;
    font-weight: bold;
}
/* code */

.Dadbcode {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
    color: #998;
    font-style: italic;
    margin: 20px;
    width: 90%;
}
