body.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.DadbContent {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}
.DadbSteps {
    margin-bottom: 5px;
    position: relative;
}
.DadbStep i.fa {
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: #43838c;
}
span.DadbCloser i.DadbHandle {
    position: static;
    bottom: 4px;
    right: 4px;
    color: white;
}
.DadbStepFullHour, .DadbStepHalfHour, .DadbStepQuarter, .DadbStepStart, .DadbStepEnd {
    float: left;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.DadbStepFullHour {
    border-left: 2px solid #43838c;
}
.DadbStepContent {
    height: 0px;
}
.DadbPlannedBlockStart {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.DadbPlannedBlockEnd {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 2px solid black;
}
div.DadbPlannedBlockBody {
    /*background-clip -IE11 renders white lines when border-radius is applied*/
    background-clip: 'border-box ';
}
.DadbTick {
    border: 1px solid transparent;
    position: absolute;
    margin-left: -.6em;
    margin-top: -16px;
    text-align: center;
    color: #43838c;
}

/*blocks*/

div.DadbSource {
    width: 100%;
    margin-top: 30px;
    height: 30px;
}
div.DadbTemplate {
    margin-right: 20px;
    float: left;
}
div.DadbDraggableBlock {
    background: #EEFAA8;
    background: rgba(238, 250, 168, 0.81);
    height: 30px;
    font-size: 14px;
    border: 1px solid #43838c;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 999;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}
div.DadbDraggableBlock.Stamp {
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position: relative;
    top: 2px;
    opacity: 0.6;
}
.DadbEmpty {
    border: 0px;
}
.DadbEmpty .DadbStepContent {
    height: 96%;
}
.DadbEmpty .DadbStepContentFullHour {
    border-left: 2px solid #43838c;
}
.DadbHighlightOK {
    border-top: 3px solid green !important;
    border-bottom: 3px solid green !important;
}
.DadbHighlightOKstart {
    border-left: 3px solid green !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.DadbHighlightOKend {
    border-right: 3px solid green !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.DadbHighlightNOK {
    border-top: 3px solid #c00 !important;
    border-bottom: 3px solid #c00 !important;
    border-radius: 0px;
    filter: alpha(opacity=90);
    opacity: 0.9;
}
.DadbHighlightNOKstart {
    border-left: 3px solid #c00 !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.DadbHighlightNOKend {
    border-right: 3px solid #c00 !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
div.DadbDraggableBlock {
    cursor: pointer;
}
div.DadbDraggableBlock .DadbHandle {
    font-size: 1.4em;
}
.DadbStepContent .DadbHandle {
    cursor: pointer;
}
.DadbStepContent {
    text-align: left;
}
div.DadbStep div {
    text-align: left;
}
.DadbHandle {
    display: table-caption;
    margin-top: 1px;
    color: white;
    font-style: normal;
    font-weight: bold;
}
div.DadbStepEnd {
    border-right: 2px solid #43838c !important;
}
